:root {
  --primary: #433f3c;
  --thick-border: 5px solid var(--primary);
  --thin-border: 2px solid var(--primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary);
}

@font-face {
  font-family: chomsky;
  src: url(./font/Chomsky.otf);
}

@font-face {
  font-family: cheltenham;
  src: url(./font/Cheltenham\ Bold.otf);
}

@font-face {
  font-family: imperial;
  src: url(./font/Imperial\ Regular.otf);
}